<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/head') %>

  <body>

    <%- include('layouts/header') %>

      <section class="conA">
        <div class="container">
          <div>
            <button class="btn btn-danger">
              <a href="/logout" style="color:#FFF">ログアウト</a>
            </button>
          </div>
          <form method="POST" action="/deleteUser">
            <button>アカウントを削除する</button>
          </form>
          <a href="/home">ホームへ</a>
        </div>
      </section>

      <%- include('layouts/footer') %>

  </body>

</html>