<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/head') %>

  <body>
    <%- include('layouts/header') %>
      <section class="conA">
        <div class="container">
          <div>
            <ul class="list-group">
              <li class="list-group-item" style="border: none;">
                <a  href="/qrcode">機材を借りる・返却する</a>
              </li>
              <li class="list-group-item" style="border: none;">
                <a  href="/status">貸し出し状況を見る</a>
              </li>
              <li class="list-group-item" style="border: none;">
                <a href="/register">機材を登録する</a>
              </li>
              <li class="list-group-item" style="border: none;">
                <a href="/about">このサイトについて</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <%- include('layouts/footer') %>

  </body>

</html>