<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/head') %>

  <body>
    <%- include('layouts/header') %>
      <section class="conA">
        <div class="container mt-3">
          <div class="container col-md-8">
            <div class="shadow-sm p-3 mb-5 bg-light rounded">
              <h6 class="text-center">ホーム</h6>
            </div>
            <div class="text-center">
              <ul class="list-group">
                <li class="list-group-item my-2" style="border: none;">
                  <a style="font-weight: bold;" class="text-info" href="/qrcode">機材を借りる・返却する</a>
                </li>
                <li class="list-group-item my-2" style="border: none;">
                  <a style="font-weight: bold;" class="text-info" href="/status">貸し出し状況を見る</a>
                </li>
                <li class="list-group-item my-2" style="border: none;">
                  <a style="font-weight: bold;" class="text-info" href="/register">機材を登録する</a>
                </li>
                <li class="list-group-item my-2" style="border: none;">
                  <a style="font-weight: bold;" class="text-info" href="/about">このサイトについて</a>
                </li>
              </ul>
            </div>
          </div>
      </section>

      <%- include('layouts/footer') %>

  </body>

</html>