<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/head') %>

<body>

  <%- include('layouts/header') %>

  <section class="conA">
    <div class="container">
      <div class="login">
        <p>ログイン画面</p>
        <a href="/home">ホームへ</a>
      </div>
    </div>
  </section>

  <%- include('layouts/footer') %>
</body>