<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/head') %>

  <body>
<header>
  <nav class="navbar navbar-dark bg-primary">
    <a href="" class="navbar-brand ">QR-Device-Manager</a>
  </nav>
</header>

      <section class="conA">
        <div class="container col-md-8">
          <div class="shadow-sm p-3 mb-5 bg-light rounded">
            <h6 class="text-center">ログイン画面</h6>
          </div>
          <% if(errors !=null && errors.length>0) { %>
            <ul class="list-group">
              <% for(var i=0; i < errors.length; i++){ %>
                <li class="list-group-item list-group-item-danger">
                  <%= errors[i] %>
                </li>
                <% } %>
            </ul>
            <% } %>
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  <form action="/user/login" method="POST" enctype="multipart/form-data">
                    <div class="control-group">
                      <div class="form-group floating-label-form-group controls">
                        <label class="float-left ml-2">ユーザー名</label>
                        <input type="text" class="form-control" placeholder="User Name" name="username">
                      </div>
                    </div>
                    <div class="control-group">
                      <div class="form-group floating-label-form-group controls">
                        <label class="float-left ml-2">パスワード</label>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                      </div>
                    </div>
                    <br>
                    <div class="form-group text-right mr-2">
                      <button type="submit" class="btn btn-primary">ログイン</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="text-center mt-4">
                <a class="btn btn-outline-info" href="/newUser">アカウントを登録する</a>
              </div>
        </div>
      </section>

      <%- include('layouts/footer') %>
  </body>

</html>