<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/head') %>

  <body>

    <%- include('layouts/header') %>

      <section class="conA">
        <div class="container">
          <h1>404 page not found</h1>
        </div>
      </section>

      <%- include('layouts/footer') %>

  </body>

</html>