<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/head') %>

  <body>

    <%- include('layouts/header') %>

      <section class="conA">
        <div class="container" id="app">
          <canvas id="canvas"></canvas>

          <form method="POST" action="/qrcode/borrow_return">
            <div>{{device_name}}</div>

            <div v-if="flag==true">
              <div>
                <p>使用者</p>
                <input>
                <p>使用場所</p>
                <input>
              </div>
              <button class="btn btn-primary">借りる</button>
            </div>

            <div v-if="flag==false">
              <button class="btn btn-primary" v-if="flag==false">返却する</button>
            </div>

          </form>
          <a href="/home">ホームへ</a>
        </div>
      </section>

      <%- include('layouts/footer') %>


        <script src="/js/jsQR.min.js"></script>
        <script src="/js/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/qrReader.js"></script>
  </body>

</html>