<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/head') %>

  <body>

    <%- include('layouts/header') %>

      <section class="conA">
        <div class="container" id="app">
          <canvas id="canvas"></canvas>

          <div>{{device_name}}</div>
          <div v-if="flag==true">
            <form method="POST" action="/borrow">
              <div>
                <input v-bind:value="uuid" name="uuid">
                <p>使用者</p>
                <input name="user">
                <p>使用場所</p>
                <input name="location">
                <input type="hidden" v-model="flag" name="flag">
                <button class="btn btn-primary">借りる</button>
              </div>
            </form>
          </div>

          <div v-if="flag==false">
            <form method="POST" action="/return">
              <input v-bind:value="uuid" name="uuid">
              <input type="hidden" v-model="flag" name="flag">
              <button class="btn btn-primary" v-if="flag==false">返却する</button>
            </form>
          </div>

          <a href="/home">ホームへ</a>
        </div>
      </section>

      <%- include('layouts/footer') %>


        <script src="/js/jsQR.min.js"></script>
        <script src="/js/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/qrReader.js"></script>
  </body>

</html>