<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/head') %>

  <body>

    <%- include('layouts/header') %>

      <section class="conA">
        <div class="container col-md-8" id="app">
          <div class="shadow-sm p-3 mb-5 bg-light rounded">
            <a class="btn btn-outline-info btn-sm" href="/home">ホームへ</a>
            <h6 class="text-center">機材を借りる・返却</h6>
          </div>

          <div class="text-center mb-3 text-info">
            QRコードをかざして下さい
            <button v-on:click="retry" class=" btn btn-outline-info btn-sm">再読み込み</button>
          </div>

          <canvas id="canvas"></canvas>
          <div class="m-3 text-center" v-if="flag != null">
            <p style="font-weight: bold;">機種名：{{device_name}}</p>
          </div>
          <div class="m-3 text-center">
            <p style="font-weight: bold;">
              {{error_message}}
            </p>
          </div>
          <div v-if="flag==true">
            <form method="POST" action="/borrow">
              <input type="hidden" v-bind:value="uuid" name="uuid">
              <div class="form-group">
                <label class="float-left ml-2">使用者<span class="ml-1 badge badge-warning">必須</span></label>
                <input class="form-control" name="user" v-model="user" placeholder="User">
              </div>
              <div class="form-group">
                <label class="float-left ml-2">使用場所<span class="ml-1 badge badge-warning">必須</span></label>
                <input class="form-control" name="location" v-model="location" placeholder="Location">
                <input type="hidden" v-model="flag" name="flag">
              </div>
              <div class="form-group text-right">
                <button class="btn btn-primary" :disabled="ready">借りる</button>
              </div>

            </form>
          </div>

          <div v-if="flag==false">
            <form method="POST" action="/return">
              <input type="hidden" v-bind:value="uuid" name="uuid">
              <input type="hidden" v-model="flag" name="flag">
              <button class="btn btn-primary" v-if="flag==false">返却する</button>
            </form>
          </div>
          <div>
          </div>
        </div>
      </section>

      <%- include('layouts/footer') %>


        <script src="/js/jsQR.min.js"></script>
        <script src="/js/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/qrReader.js"></script>
  </body>

</html>